<div  fxLayout="column" fxLayoutAlign="center center" class="container-sm">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Sign in User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="LoginForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Placeholder" type="email" formControlName="email" required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" placeholder="Password" id="password" formControlName="password" required />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="example-button-row">
          <button mat-button>Forget Password?</button>
        </div>

        <div class="example-button-row">
          <button mat-button color="primary">No Password? SignUp</button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!LoginForm.valid" type="submit" (click)="signIn()" mat-raised-button color="primary">Sign in</button>
    </mat-card-actions>
  </mat-card>

</div>
