<mat-toolbar>
  <mat-toolbar-row>
    <div class="left-content">
      <a href="/" mat-button class="site-logo">
        <img src="./../assets/images/logo/nathStore.png" alt="logo" >
      </a>
      <!-- <a href="/" mat-button class="site-title">NathStore</a> -->
    </div>

    <div  class="center-content">
      <a href="/products" mat-button>Products</a>
      <a href="aboutus" mat-button>About us</a>
      <a href="administration" mat-button>Administration</a>
    </div>
    <span class="spacer"></span>
    <a href="/cart" mat-button>
      <mat-icon matBadge="15" matBadgePosition="above after" matBadgeColor="warn">shopping_cart</mat-icon>
      Cart
    </a>
    <a href="/signin" mat-button>
      <mat-icon>person</mat-icon>
      Login
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container text-center">
  <h1>Nath Store and convenience</h1>
  <h3>With our products for hair, you gonna feel beautiful</h3>
</div>


<router-outlet></router-outlet>
