<mat-toolbar>
  <mat-toolbar-row>
    <div class="left-content">
      <a href="/" mat-button class="site-logo">
        <img src="./assets/images/logo/nathStore.png" alt="logo" >
      </a>
    </div>

    <div  class="center-content">
      <a routerLink="/products" mat-button>Products</a>
      <a routerLink="/aboutus" mat-button>About us</a>
        <!-- Use *ngIf to conditionally show the Administration link -->
      <a *ngIf="isLogging && role === 'superAdmin'" routerLink="/administration" mat-button>
        Administration
      </a>
      <a routerLink="/planification" mat-button>
        Planification
      </a>
    </div>
    <span class="spacer"></span>
    <a routerLink="/cart" mat-button>
      <mat-icon matBadge="15" matBadgePosition="above after" matBadgeColor="warn">shopping_cart</mat-icon>
      Cart
    </a>
    <a routerLink="/signin" mat-button>
      <mat-icon>person</mat-icon>
      {{login}}
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container text-center">
  <h1>Nath Store and convenience</h1>
  <h3>With our products for hair, you gonna feel beautiful</h3>
</div>
<router-outlet></router-outlet>
