<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Orders</mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly />
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker> -->
</mat-expansion-panel>